<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>donnees</title>
  </head>
  <body>
    <p>Base de donnees complete</p>
    <table>
      <thead>
        <tr>
          {% for column in full_table.columns %}
            <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for index, row in full_table.iterrows %}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
        